<nav class="navbar navbar-expand-lg navbar-dark bg-warning rounded mt-4">
	<a class="navbar-brand" href="#" routerLink="/">Pet Store</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#" routerLink="/cart">Home <span class="sr-only">(current)</span></a>
			</li>
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit" routerLink="/cart">Checkout</button>
		</ul>
	</div>
</nav>