<div class="row m-4">

	<div class="col-8">
		<div class="row border-bottom pb-4">
			<div class="col-12">
				<h3>Your Shopping Cart</h3>
				<a routerLink="/" class="btn btn-outline-warning">Back to product list</a>
				<button class="btn btn-outline-danger ml-4" (click)="clearCart()">Clear cart</button>
				<button class="btn btn-outline-primary ml-4" (click)="total()">Total</button>
			</div>
		</div>
		<div class="cart-item row border-bottom" *ngFor="let item of items">
			<div class="col-4">
				<img src="{{ item.photo }}" alt="{{ item.name }}" class="img-fluid">
			</div>
			<div class="col-8 py-4">
				<h4>{{ item.name }} </h4>
				<h5>{{ item.price | currency }}</h5>
			</div>
		</div>
	</div>

	<div class="col-3 border rounded p-4 ml-4">
		<h3>Your data</h3>
		<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
			<p>
				<label for="name">Name: </label><br>
				<input id="name" type="text" formControlName="name">
			</p>
			<p>
				<label for="address">Delivery Address: </label><br>
				<input id="address" type="text" formControlName="address">
			</p>
			<button class="btn btn-primary ml-2" type="submit">Purchase</button>
		</form>
	</div>

</div>
